@model DogGo.Models.ViewModels.WalkerViewModel

@{
    ViewData["Title"] = "Details";
}



<div>
    <h1 class="mb-4">Walker Profile</h1>
    <section class="container">
        <img style="width:100px;float:left;margin-right:20px"
             src="@Model.Walker.ImageUrl" alt="profile picture" />
        <div>
            <label class="font-weight-bold">Name</label>
            <span>@Model.Walker.Name</span>
        </div>
        <div>
            <label class="font-weight-bold">Neighborhood</label>
            <span>@Model.Walker.Neighborhood.Name</span>
        </div>
    </section>

    <hr class="mt-5" />
    <div class="clearfix"></div>
    <div class="row">
        <section class="col-8 container mt-5">
            <h1 class="text-left">Recent Walks</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <label>Walk Date</label>
                        </th>
                        <th>
                            <label>Client Name</label>
                        </th>
                        <th>
                            <label>Walk Duration</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Walk walk in Model.Walks)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => walk.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => walk.Owner.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => walk.Duration)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
        <section class="col-lg-4 col-md-8 container mt-5">
            <h1>Total Walk Time</h1>
            <span>@Model.TotalWalkTime</span>
        </section>
    </div>


</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Walker.Id }) |
    <a asp-action="Index">Back to List</a>
</div>